@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-white : #FFFFFF;
    --bg-gray :#F2F2FE;
    --font :'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

a::selection, div::selection, img::selection, strong::selection {
    background: #E64F8F;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

/* button */

.button {
    color: #fff;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 13px;
}

.button-highlight {
    background: #ff589e;
}

.button-highlight:hover {
    background-color: #8261ee;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

/* button */

/* Box-head */

.box-head {
    text-align: center;
}

.box-head .inner-title {
    color: #1e1e1e;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 30px;
}

.box-head .inner-dsc {
    margin-bottom: 40px;
    color: #777;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
}

/* Box-head */